:root {
  --bg-gradient: linear-gradient(0deg, #000000, #000000), #000000;
  --primary-color: rgba(249, 249, 249, 0.98);
  --font-family: "Poppins";
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 600;
  --font-size-xl: 40px;
  --font-size-lg: 32px;
  --font-size-md: 24px;
  --font-size-sm: 16px;
  --font-size-xs: 12px;
  --color-white: #ffffff;
  --color-gray: #585858;
  --color-gray-light: rgba(0, 0, 0, 0.1);
  --color-blue: #2196f3;
  --color-black: #000000;
  --box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.2);
}

* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}

body {
  background: url("../assets/background-image.jpg") center/cover no-repeat;
}

.page {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
}

.container {
  width: 100%;
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.content {
  max-width: 800px;
  margin: 0 auto;
  background: var(--bg-gradient);
  opacity: 0.8;
  border-radius: 55px;
  padding: 53px 70px 43px;
}

.search-container {
  position: relative;
  margin-bottom: 40px;
}

.search {
  border: none;
  outline: none;
  width: 100%;
  padding: 18px 40px;
  background: linear-gradient(
      0deg,
      var(--color-gray-light),
      var(--color-gray-light)
    ),
    var(--color-gray);
  opacity: 0.3;
  border-radius: 55px;
  font-family: var(--font-family);
  color: var(--color-white);
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-xl);
  box-sizing: border-box;
  transition: all 0.5s ease-in-out;
}

.search:hover {
  box-shadow: var(--box-shadow);
}

.search:focus {
  opacity: 1;
}

.search:before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: var(--color-gray-light);
  height: 30px;
  width: 30px;
  border-radius: 50%;
  opacity: 0;
}

.search:hover:before {
  opacity: 1;
}

.search:after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: var(--color-gray-light);
  height: 40px;
  width: 40px;
  border-radius: 50%;
  opacity: 0;
}

.search:hover:after {
  opacity: 1;
}

.search-container img {
  position: absolute;
  opacity: 1;
  background: var(--color-white);
  padding: 10px;
  border-radius: 50%;
  right: 10px;
  bottom: 16px;
}

.weather-info-container h1 {
  font-family: var(--font-family);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-xl);
  color: var(--color-white);
}

.degrees {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.degrees p {
  font-family: var(--font-family);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-lg);
  color: var(--color-white);
}

.toggle {
  display: flex;
  align-items: center;
}

.toggle input {
  display: none;
}

.slider {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  border-radius: 34px;
  background-color: #ccc;
  transition: background-color 0.3s;
}

.slider::before {
  position: absolute;
  content: "";
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background-color: var(--color-white);
  top: 4px;
  left: 4px;
  transition: transform 0.3s;
}

.toggle input:checked + .slider {
  background-color: var(--color-blue);
}

.toggle input:checked + .slider::before {
  transform: translateX(26px);
}

.weather-description {
  display: flex;
  gap: 10px;
}

.weather-description p,
.humidity,
.windspeed,
.c-f {
  font-family: var(--font-family);
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-md);
  color: var(--color-white);
  margin-right: 20px;
}

.forecast-section {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.card {
  padding: 16px 20px;
  background: var(--bg-gradient);
  opacity: 0.8;
  border-radius: 11px;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.forecast-degrees,
.forecast-day {
  font-family: var(--font-family);
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-md);
  line-height: 30px;
  text-align: center;
  color: var(--color-white);
}

.forecast-hi-lo {
  display: flex;
  justify-content: space-evenly;
}
.forecast-hi-lo p {
  font-family: var(--font-family);
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-xs);
  line-height: 20px;
  text-align: center;
  margin-right: 5px;
  color: var(--color-gray);
}
.forecast-description {
  font-family: var(--font-family);
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-sm);
  line-height: 20px;
  text-align: center;
  color: var(--color-white);
}

.loader-wrapper {
  height: 100vh;
  width: 100%;
  background: white;
  z-index: 999;
  position: fixed;
  top: 0;
  opacity: 0;
  transition: all 1s ease-in-out;
  animation: fade-in-out 0s ease-out forwards;
}

.loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: 100;
}
#snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: red;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 17px;
}

#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@media only screen and (max-width: 768px) {
  .search,
  .weather-info-container h1 {
    font-size: var(--font-size-md);
  }

  .card {
    max-width: 250px;
  }

  .forecast-degrees > p {
    font-size: var(--font-size-sm);
  }

  .weather-description p,
  .humidity,
  .windspeed,
  .c-f {
    font-size: var(--font-size-sm);
  }
}

@media screen and (max-width: 460px) {
  .forecast-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
  }
  .card-img {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .card {
    padding: 12px 13px;
    max-width: 78px;
    align-items: center;
  }
  .card img {
    height: 40px;
    width: 40px;
  }
  .forecast-degrees > p {
    font-size: var(--font-size-sm);
  }
  .forecast-degrees {
    font-size: 14px;
    line-height: 19px;
  }
  .forecast-day {
    font-size: 12px;
    /* line-height: 10px; */
  }
  .weather-description p,
  .humidity,
  .windspeed,
  .c-f {
    font-size: var(--font-size-xs);
  }
  .weather-info-container h1,
  .search {
    font-size: var(--font-size-sm);
  }

  .forecast-hi-lo p {
    font-size: 10px;
    line-height: 24px;
  }
  .forecast-description {
    font-size: var(--font-size-xs);
    margin-bottom: 0;
  }

  .content {
    padding: 23px 40px 23px;
  }
  .search-container img {
    display: none;
  }
}

@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes pulse {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}
@keyframes fade-in-out {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
