:root {
  --bg-gradient: linear-gradient(0deg, #000000, #000000), #000000;
  --primary-color: rgba(249, 249, 249, 0.98);
  --font-family: "Poppins";
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 600;
  --font-size-xl: 40px;
  --font-size-lg: 32px;
  --font-size-md: 24px;
  --font-size-sm: 16px;
  --font-size-xs: 12px;
  --color-white: #ffffff;
  --color-gray: #585858;
  --color-gray-light: rgba(0, 0, 0, 0.1);
  --color-blue: #2196f3;
  --color-black: #000000;
  --box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.2);
}

* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}

body {
  background-image: url("../assets/background-image.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.page {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
}

.container {
  width: 100%;
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.content {
  max-width: 800px;
  margin: 0 auto;
  background: var(--bg-gradient);
  opacity: 0.8;
  border-radius: 55px;
  padding: 53px 70px 43px;
}

.search-container {
  position: relative;
  margin-bottom: 40px;
}

.search {
  border: none;
  outline: none;
  width: 100%;
  padding: 18px 40px;
  background: linear-gradient(
      0deg,
      var(--color-gray-light),
      var(--color-gray-light)
    ),
    var(--color-gray);
  opacity: 0.3;
  border-radius: 55px;
  font-family: var(--font-family);
  color: var(--color-white);
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-xl);
  box-sizing: border-box;
  transition: all 0.5s ease-in-out;
}

.search:hover {
  box-shadow: var(--box-shadow);
}

.search:focus {
  opacity: 1;
}

.search:before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: var(--color-gray-light);
  height: 30px;
  width: 30px;
  border-radius: 50%;
  opacity: 0;
}

.search:hover:before {
  opacity: 1;
}

.search:after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: var(--color-gray-light);
  height: 40px;
  width: 40px;
  border-radius: 50%;
  opacity: 0;
}

.search:hover:after {
  opacity: 1;
}

.search-container img {
  position: absolute;
  opacity: 1;
  background: var(--color-white);
  padding: 10px;
  border-radius: 50%;
  right: 10px;
  bottom: 16px;
}

.weather-info-container {
}

.weather-info-container h1 {
  font-family: var(--font-family);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-xl);
  color: var(--color-white);
}

.degrees {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.degrees p {
  font-family: var(--font-family);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-lg);
  color: var(--color-white);
}

.toggle {
  display: flex;
  align-items: center;
}

.toggle input {
  display: none;
}

.slider {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  border-radius: 34px;
  background-color: #ccc;
  transition: background-color 0.3s;
}

.slider::before {
  position: absolute;
  content: "";
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background-color: var(--color-white);
  top: 4px;
  left: 4px;
  transition: transform 0.3s;
}

.toggle input:checked + .slider {
  background-color: var(--color-blue);
}

.toggle input:checked + .slider::before {
  transform: translateX(26px);
}

.weather-description {
  display: flex;
  gap: 10px;
}

.weather-description p {
  font-family: var(--font-family);
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-md);
  color: var(--color-white);
  margin-right: 20px;
}

.humidity {
  font-family: var(--font-family);
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-md);
  margin-top: 20px;
  color: var(--color-white);
}

.windspeed {
  font-family: var(--font-family);
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-md);
  margin-top: 20px;
  color: var(--color-white);
}

.forecast-section {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.card {
  padding: 16px 20px;
  background: var(--bg-gradient);
  opacity: 0.8;
  border-radius: 11px;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.forecast-degrees {
  font-family: var(--font-family);
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-md);
  line-height: 30px;
  text-align: center;
  color: var(--color-white);
  text-shadow: -1.13852px 1.70778px 0.569258px rgba(0, 0, 0, 0.1);
}

.forecast-day {
  font-family: var(--font-family);
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-md);
  line-height: 30px;
  text-align: center;
  color: var(--color-white);
  text-shadow: -1.13852px 1.70778px 0.569258px rgba(0, 0, 0, 0.1);
}

.hi-lo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.forecast-hi-lo {
  font-family: var(--font-family);
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-sm);
  line-height: 20px;
  text-align: center;
  color: var(--color-white);
  text-shadow: -0.758893px 1.13834px 0.379447px rgba(0, 0, 0, 0.1);
}

.forecast-icon {
  height: 50px;
  width: 50px;
  margin: 0 auto;
}

.forecast-description {
  font-family: var(--font-family);
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-sm);
  line-height: 20px;
  text-align: center;
  color: var(--color-white);
  text-shadow: -0.758893px 1.13834px 0.379447px rgba(0, 0, 0, 0.1);
}

@media only screen and (max-width: 768px) {
  .card {
    max-width: 250px;
  }

  .forecast-degrees {
    font-size: var(--font-size-sm);
    line-height: 25px;
  }

  .forecast-day {
    font-size: var(--font-size-sm);
    line-height: 25px;
  }

  .forecast-hi-lo {
    font-size: var(--font-size-xs);
    line-height: 15px;
  }

  .forecast-icon {
    height: 40px;
    width: 40px;
  }

  .forecast-description {
    font-size: var(--font-size-xs);
    line-height: 15px;
  }
}
